* {
    font-family: 'Segoe UI';
}
body {
    background: #cccccc;
}
.page {
    width: 1140px;
    margin: 35px auto;
    background: white;
}
#main {
    padding: 30px 30px;
}

@media only screen and (max-width: 1140px)
{
    .page {
        width: 100%;
    }
}