@model List<Fellesregnskap.Services.Models.Participant>

<ul>
@foreach (var item in Model)
{
    <li>@Html.Raw(item.Name) (@Html.ActionLink("x", "RemoveParticipant", new { Id = item.Id }))</li>    
}

</ul>