@model List<Fellesregnskap.Models.Common.Receipt>

Receipts
<table>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.Raw(item.date.Date.ToString())</td>
        <td>@Html.Raw(item.description)</td>
        <td>@Html.Raw(item.price.ToString())</td>


    </tr>    
}

</table>