@model List<Fellesregnskap.Models.Common.Receipt>

Receipts
<table>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.Raw(item.Date.Date.ToString())</td>
        <td>@Html.Raw(item.Description)</td>
        <td>@Html.Raw(item.Price.ToString())</td>


    </tr>    
}

</table>