<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="MONGOHQ_URL" value="mongodb://localhost/Tests" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
